body{
  background-color: indianred;
  color: rebeccapurple;
  background-image: url('lol1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
p{
  font-family:fantasy;
}
